@model HomeTesting.Models.LoginModel

@{Layout = null;}
<link href="~/Content/css/bootstrap.css" rel="stylesheet" />
<link href="~/Content/css/AdminLTE.min.css" rel="stylesheet" />
@{
    ViewBag.Title = "Login";
}

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <b>Home</b> Testing Kits
        </div>

        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)


        <!-- /.login-logo -->
            <div class="login-box-body" style="border-radius:8px;">
                <p class="login-box-msg">Please Login</p>

                <div class="form-group has-feedback">

                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Username" })
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">

                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">

                    </div>
                    <!-- /.col -->
                    <div class="col-xs-12">
                        <input type="submit" class="btn btn-primary btn-block btn-flat" style="width:320px; float:left" value="Sign In">
                    </div>
                    @{
                        if (TempData["NoPermissions"] != null)
                        {
                            <br />
                            <br />
                            <div class="col-xs-12">
                                <div class="btn btn-primary btn-block btn-flat" style="width:100%; float:left; background-color:red">@TempData["NoPermissions"].ToString()</div>
                            </div>
                        }
                    }
                    <!-- /.col -->
                </div>

            </div>
        }
    </div>
    <div class="row">
        <div class="col-md-3">
            &nbsp;
        </div>
        <div class="col-md-6">
            <div class="box" style="border-radius:8px;">
                <div class="box-body">
                    <p>
                        This application contains detailed medical information (Sensitive Personal Data) which is subject to the controls described in the Data Protection Act 1998.
                    </p>
                    <p>
                        By accessing this application, you are confirming that you will abide by the Trust’s Patient Confidentiality Policy at all times, and that you will not access any patient record unless you are providing a formal medical service to that patient.
                    </p>
                    <p>
                        Accessing your own record or the records of other people that you are not providing a formal medical service to is strictly forbidden and is a serious disciplinary matter
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="margin-top:30px;">
            &nbsp;
            
        </div>
    </div>
</body>